*.txt
*.png
*.jpg
.vscode/
.DS_Store
*.yaml
*.json
runs/
wandb/
*.cache

*.pickle
*.npy

__pycache__/
.ipynb_checkpoints/
MNIST/

runs/
external_models/

# models
*.pt
*.onnx
*.tflite
*.pb

# compressed files
*.zip
*.tar
*.gz

